{{$fields := .Meta.Config.Fields}}
{{/* marshal $fields */}}
{{$value := (raw_value_of .ResourceValue .Meta)}}

<div class="signle-edit qor-field">
    <label class="qor-field__label" for="{{.InputId}}">
        {{meta_label .Meta}}
    </label>

    <div class="qor-field__block">
        <fieldset id="{{.InputId}}" class="qor-fieldset">
        {{render_nested_form $value (edit_sections .Meta.Resource) -1}}
        </fieldset>
    </div>
</div>